body {
  position: relative;
}

section {
  align-content: center;
  border: 3px solid blue;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  padding: 10vh;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

p {
  padding: 5px;
}

input,
select {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

input[type=button] {
  background: #f497da;
  border-radius: 5px;
  border-width: 2px;
  height: 45px;
}

label {
  font-size: 20px;
  padding: 0 5px;
}